<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>product</servlet-name>
        <servlet-class>Controller.product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetail</servlet-name>
        <servlet-class>Controller.ProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCart</servlet-name>
        <servlet-class>Controller.addCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo</servlet-name>
        <servlet-class>Controller.demo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessOrder</servlet-name>
        <servlet-class>Controller.ProcessOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>Controller.addProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServer</servlet-name>
        <servlet-class>Controller.OrderServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Orderdetail</servlet-name>
        <servlet-class>Controller.Orderdetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chotdon</servlet-name>
        <servlet-class>Controller.chotdon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comment</servlet-name>
        <servlet-class>Controller.Comment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDAO</servlet-name>
        <servlet-class>DAO.CartDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Huydon</servlet-name>
        <servlet-class>Controller.Huydon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchProduct</servlet-name>
        <servlet-class>Controller.searchProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProduct1</servlet-name>
        <servlet-class>Controller.addProduct1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getProduct</servlet-name>
        <servlet-class>Controller.getProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProduct</servlet-name>
        <servlet-class>Controller.editProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeProduct</servlet-name>
        <servlet-class>Controller.removeProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>Controller.signup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>product</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCart</servlet-name>
        <url-pattern>/addCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessOrder</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServer</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Orderdetail</servlet-name>
        <url-pattern>/orderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chotdon</servlet-name>
        <url-pattern>/chotdon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comment</servlet-name>
        <url-pattern>/Comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDAO</servlet-name>
        <url-pattern>/CartDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Huydon</servlet-name>
        <url-pattern>/huydon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchProduct</servlet-name>
        <url-pattern>/searchProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProduct1</servlet-name>
        <url-pattern>/addProduct1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getProduct</servlet-name>
        <url-pattern>/getProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProduct</servlet-name>
        <url-pattern>/editProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeProduct</servlet-name>
        <url-pattern>/removeProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
   

</web-app>
